/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html,
body {
	min-height: 100%;
	height: 100%;
}

body {
	position: relative;
	font-family: 'Titillium Web', sans-serif, monospace;
	background: #160f30;
}

body, 
html {
	height: 100%;
	min-height: 100%;
}

ul,
ol {
	padding: 0;
	margin: 0;
}


.page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.page-wrapper {
	position: relative;
	padding: 20px;
	color: #fff;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
	background: #21243d;
	transition: all 1s;
}
.page-wrapper__title {
	display: inline;
	/* align-items: center; */
}
.page-wrapper__text {
	font-size: 40px;
	display: inline;
}

.page-wrapper__text--animatecss {
	color: #f35626;
	background-image: linear-gradient(92deg, #8f177b 0%, #1dbcd8 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.page-wrapper__closer {
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	cursor: pointer;
}

.page-wrapper__closer img {
	width: 100%;
}

.page-wrapper__choose-style {
	display: flex;
	height: 40px;
	margin-top: 20px;
	/* flex-wrap: wrap; */
}

.page-wrapper__select {
	width: 49%;
}
	
.page-wrapper__btn {
	width: 49%;
	margin-left: 10px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	text-transform: uppercase;
	background: linear-gradient(92deg, #911572 0%, #158d91 100%);
	color: #fff;
	cursor: pointer;
	transition: all 0.5s;
}
.page-wrapper__btn:hover {
	color: rgb(56, 7, 40);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}

.overlay-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
	background: rgba(34, 14, 39, 0.834);
	transition: all 0.5s;
}

.page-wrapper--modal-padding {
	padding: 60px;
	/* padding-left: 100px;
	padding-right: 100px; */
}

.overlay__closer {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	margin-top: -20px;
	margin-right: -20px;
}

